@import 'client/srcent/src/style/imports';

.matched-songs {
  .faux-matched-song-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .faux-matched-song {
      height: 7rem;
      margin: 0 2rem 2rem;
      border: 0.125rem solid lighten($light-border-color, 1%);
      border-radius: 1rem;

      &.shimmer {
        @include shimmer(lighten($light-secondary, 3%), 120vw, 8rem, 3s);
      }
    }
  }

  .no-results {
    margin: 3rem;
    color: $muted;
    font-style: italic;
  }
}
